/* -- header --*/

header {
  display: flex;
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-itmes: center;
  flex-grow: 1;
  padding-left: 30px;
  padding-bottom: 10px;
}

.mytimes {
  display: flex;
  aling-items: center;
  padding-top: 19px;
  padding-left: 8px;
}

.headline {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-weight: bold;
  font-size: 40px;
  color: white;

}

.nav1 {
  display: flex;
  margin-right: 30px;
  padding-top: 20px;
}


/* -- Main Content Container -- */

.main-content {
  display: flex;
  flex-direction: column;
  marging-right: 32px;
}

.large-column {
  width: 630px;
}

.medium-column {
  width: 300px;
}

.aside-column {
  flex-direction: column;
  width: 240px;
}

.image-content {
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 15px;
}

.image.story-2 {
    display: flex;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
    height: 300px;
    width: 300px;
}

.image.story-3 {
    display: flex;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
    height: 300px;
    width: 300px;
}

.image.story-1 {
    display: flex;
    flex-wrap: wrap;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
    height: 300px;
    width: 300px;
}

.text-content {
  width: 300px;
  height: 250px;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

nav, span, .nav1, .nav2 {
  display: inline-block;
  padding: 20 px 10px;
}
